.mdl-color--red {
    background-color: rgb(169, 20, 9) !important;
  }
  .mdl-color--blue {
    background-color: #2196f3!important;
  }
  .mdl-layout {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .mdl-layout__content {
    -ms-flex: 0 1 auto;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }
  .mdl-grid {
    padding: 8px;
  }
  .mdl-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 auto 0 auto;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .mdl-cell--2-col, .mdl-cell--2-col-desktop.mdl-cell--2-col-desktop {
    width: calc(16.6666666667% - 16px);
  }
  .mdl-cell {
    margin: 8px;
    width: calc(33.3333333333% - 16px);
  }
  .mdl-cell {
    box-sizing: border-box;
  }
  .mdl-shadow--4dp {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
  }
  .mdl-color--white {
    background-color: rgb(24, 26, 27) !important;
  }
  .mdl-color-text--grey-800 {
    color: rgb(190, 185, 176) !important;
  }
  .mdl-cell--8-col, .mdl-cell--8-col-desktop.mdl-cell--8-col-desktop {
    width: calc(66.6666666667% - 16px);
  }
  .mdl-cell {
    margin: 8px;
    width: calc(33.3333333333% - 16px);
  }
  .mdl-cell {
    box-sizing: border-box;
  }
  .mdl-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  }
  .mdl-color--white {
    background-color: #fff !important;
  }
  .mdl-color-text--grey-800 {
    color: #424242 !important;
  }