name: Go Test and Coverage

on:
  push:
    branches: ["master"]
    paths:
      - "**.go"
      - "ui/**"
  pull_request:
    branches: ["master"]
    paths:
      - "**.go"
      - "ui/**"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2


      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.17 

      #- name: Run Tests with Coverage
      #  run: go test ./... -coverprofile=coverage.txt -covermode=atomic

      - name: Run Tests with Coverage
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
